html,
body,

p {
  margin: 0;
  padding: 0;
}

header {
  background-color: #29291b; /*Couleur de fond*/
  text-align: center; /*texte centré*/
  opacity: 1;
  height: 10vh;
}

div.centercolumn {
  color: rgb(250, 250, 250);
  padding: 2vh; /*Marge verticale*/
  font-family: "Din Condensed", serif;
  font-size: 3rem;
}

body {
  background-image: url("img/pexels-polina-tankilevitch-7337914.jpg");
  background-size: 100%;
}

#titleCenter {
  text-transform: capitalize;
  text-align: center;
  white-space: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

#titleRight {
  text-transform: capitalize;
  text-align: center;
  white-space: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

#carreCenter {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 35em;
  width: 34%;
  background: rgb(255, 255, 255, 0.59);
  position: absolute;
  top: 8em;
  left: 10%;
  opacity: 1;
  word-wrap: break-word;
  border-radius: 5%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: justify;
  line-height: 30px;
}

#carreRigth {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 35em;
  width: 34%;
  background: rgb(255, 255, 255, 0.59);
  position: absolute;
  top: 8em;
  left: 55%;
  opacity: 1;
  word-wrap: break-word;
  border-radius: 5%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: justify;
  line-height: 30px;
}

button {
  font-family: inherit;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  position: absolute;
  left: 33%;
  background-color: #c9cec6;
}
#projet {
  left: 31%;
}

.linkedin {
  font-family: inherit;
  font-weight: 500;
  text-decoration-color: black;
  color: black;
}

#logoGitHub {
  height: 1.5em;
  width: auto;
  align-items: inherit;
  float: right;
}

#logoAda {
  height: 1em;
  width: auto;
}
b {
  font-size: larger;
}
