
div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

svg {
    margin-top: 50px;
    
}

#FR-04 {
    fill: aqua;
}

input {
    justify-content: right;
    align-items: bottom;
}