html {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Din Condensed", serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #eeefe8;
}

.container {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: 70vh;
  flex-direction: column;
}

svg {
  margin-left: 25%;
  fill: #746c6c;
}

.svgFrance {
  margin-top: 10%;
  padding-left: 12%;
  height: 70vh;
}

.legend {
  width: 50vh;
  height: 50vh;
  /* background-color: #DCDCDC; */
  margin-top: 10%;
  margin-left: 25%;
  font-weight: 200;
  font-size: 1.2rem;
}

.legendTitle {
  font-size: 1.5rem;
  font-style: italic;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

header {
  background-color: #29291b; /*rgb(3, 3, 3); /*Couleur de fond*/
  text-align: center; /*texte centré*/
  opacity: 1;
  height: 10vh;
}

div.centercolumn {
  color: rgb(250, 250, 250);
  padding: 2vh; /*Marge verticale*/
  font-family: "Din Condensed", serif;
  font-size: 3rem;
}

#homeButton {
  width: 2%;
  position: absolute;
  left: 2%;
  top: 3%;
  mask: #c9cec6;
}

/* colored cubes on the legend of the map  */
.s1 {
  background-color: #007f5f; /* Cas Covid Positifs < 50 */
}
.s3 {
  background-color: #2b9348; /* 50 < Cas Covid Positifs < 100 */
}
.s5 {
  background-color: #80b918; /* 100 < Cas Covid Positifs < 150 */
}
.s7 {
  background-color: #aacc00; /* 150 < Cas Covid Positifs < 200 */
}
.s9 {
  background-color: #eeef20; /* 200 < Cas Covid Positifs < 250 */
}

.ss1 {
  background-color: #fcfc5f; /* 250 < Cas Covid Positifs < 300 */
}
.ss3 {
  background-color: #ffba08; /* 300 < Cas Covid Positifs < 350 */
}
.ss5 {
  background-color: #faa307; /* 350 < Cas Covid Positifs < 400 */
}
.ss7 {
  background-color: #e85d04; /* 400 < Cas Covid Positifs < 450 */
}
.ss9 {
  background-color: #dc2f02; /* 450 < Cas Covid Positifs < 500 */
}
.ss11 {
  background-color: #9d0208; /* 500 < Cas Covid Positifs < 550 */
}
.ss13 {
  background-color: #6a040f; /* Cas Covid Positifs > */
}

.item {
  margin-top: 10px;
  margin-right: 20px;
}

input {
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  color: black;
}

button {
  font-family: inherit;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

button:hover {
  background-color: black;
  color: white;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .title {
    width: 100vw;
  }
  .titleContainer {
    width: 100vw;
  }
  .legendTitle {
    font-size: 1.5rem;
  }
  .legend {
    margin-top: 0;
    font-size: 1.3rem;
  }
  .svgFrance {
    padding: 1rem;
  }
}

/*Toggle css*/

#info-SVG {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  transition: all 0.25s;
  pointer-events: none;
}
#info-SVG h1 {
  flex: 1 0 auto;
  margin: 0;
  padding: 0.25em 0.5em;
  border: 4px solid rgb(255, 0, 0);
  border-radius: 0.5em;
  font-size: 1.25em;
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1em #888;
  transform: translate(-50%, 1.5em);
}

input {
  justify-content: right;
  align-items: bottom;
}
