
html {
  width: 100vw;
  height: 100vh;
} 

body {
    font-family: 'Playfair Display', serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 70vh;
    flex-direction: column;
}

svg {
    margin-left: 5vh;
    
}

.svgFrance {
    margin-top: 10vh;
    padding-left: 12rem;
    height: 70vh;
}

.legend {
    width: 50vh;
    height: 50vh;
    /* background-color: #DCDCDC; */
    margin-top: 10vh;
    margin-left: 10vh;
    font-weight: 200;
    font-size: 1.2rem;

}

.legendTitle {
    font-size: 1.5rem;
    font-style: italic;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 7fr;
  }

.title {
    text-align: center;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2vh;
    font-size: 1.5rem;
}

.titleContainer {
  width: 100vh;
  background-color: black;
  margin-top: 0;
  height: 10vh;
}

  /* colored cubes on the legend of the map  */
 
  .s1 {
    background-color: #007f5f; /* Cas Covid Positifs < 50 */
  }
  .s3 {
    background-color: #2b9348; /* 50 < Cas Covid Positifs < 100 */
  }
  .s5 {
    background-color: #80b918; /* 100 < Cas Covid Positifs < 150 */
  }
  .s7 {
    background-color: #aacc00; /* 150 < Cas Covid Positifs < 200 */
  }
  .s9 {
    background-color: #2d4d70; /* 200 < Cas Covid Positifs < 250 */
  }

  .ss1 {
    background-color: #eeef20; /* 250 < Cas Covid Positifs < 300 */
  }
  .ss3 {
    background-color: #ffba08; /* 300 < Cas Covid Positifs < 350 */
  }
  .ss5 {
    background-color: #faa307; /* 350 < Cas Covid Positifs < 400 */
  }
  .ss7 {
    background-color: #e85d04; /* 400 < Cas Covid Positifs < 500 */
  }
  .ss9 {
    background-color: #dc2f02; /* 500 < Cas Covid Positifs < 600 */
  }
  .ss11 {
    background-color: #9d0208; /* 600 < Cas Covid Positifs < 700 */
  }
  .ss13 {
    background-color: #6a040f; /* */
  }

  .item {
    margin-top: 10px;
    margin-right: 20px;
  }

  @media screen and (min-width: 768px) {
    .container {
      flex-direction: row;
    }
    .title {
      width: 100vw;
    }
    .titleContainer {
      width: 100vw;
    }
    .legend {
      margin-top: 0;
    }
  }